<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BuzzTrack.elliot.buzztrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name="com.BuzzTrack.elliot.buzztrack.Home"

         android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.BuzzTrack.elliot.buzztrack.change_drink"
            android:screenOrientation="portrait"/>
        <activity android:name="com.BuzzTrack.elliot.buzztrack.Settings"
            android:screenOrientation="portrait"/>

    </application>

</manifest>